.side {
  background-color: #bd5d38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 300px;
  position: fixed;
}

.img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 10px solid #ca7e60;
}
.nav {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav li {
  margin: 10px 0;
}

.nav li a {
  text-decoration: none;
  color: #e0ae9f;
  overflow: hidden;
  position: relative;
  padding: 10px 20px;
  transition: 0.3s;
  cursor: pointer;
}

.nav li a:hover {
  color: white;
}
.active {
  color: white !important;
}
