<hr style="width: 100%; text-align: left; margin-left: 0" />
<div class="container">
  <div class="skills">
    <div class="header">Skills</div>
    <div class="front">
      <h1>front-end</h1>
      <div class="skills-container">
        <div class="skills-box">
          <span class="badge bg-secondary">
            <fa-icon [icon]="html5"></fa-icon> HTML 5</span
          >
          <span class="badge bg-secondary">
            <fa-icon [icon]="css3"></fa-icon> CSS 3</span
          >
          <span class="badge bg-secondary">
            <fa-icon [icon]="js"></fa-icon> JavaScript</span
          >
          <span class="badge bg-secondary">
            <img
              src="../../../../assets/images/projects/ng-icon.png"
              alt=""
              style="height: 15px; background-color: transparent"
            />
            Angular</span
          >
        </div>
        <div class="skills-box">
          <span class="badge bg-secondary">
            <fa-icon [icon]="js"></fa-icon> JQuery</span
          >
          <span class="badge bg-secondary">
            <fa-icon [icon]="js"></fa-icon> Bootsrap</span
          >
          <span class="badge bg-secondary">
            <fa-icon [icon]="js"></fa-icon> Angular Ui</span
          >
          <span class="badge bg-secondary">
            <fa-icon [icon]="js"></fa-icon> PrimeNg
          </span>
        </div>
        <div class="skills-box">
          <span class="badge bg-secondary">
            <fa-icon [icon]="js"></fa-icon> TypeScript</span
          >
          <span class="badge bg-secondary">
            <fa-icon [icon]="js"></fa-icon> Testing
          </span>
          <span class="badge bg-secondary">
            <fa-icon [icon]="js"></fa-icon> Git - Github</span
          >
        </div>
      </div>
    </div>
    <div class="back mt-5">
      <h1>back-end</h1>
      <div class="skills-container">
        <div class="skills-box">
          <span class="badge bg-primary">
            <fa-icon [icon]="html5"></fa-icon> PHP
          </span>
          <span class="badge bg-primary">
            <fa-icon [icon]="css3"></fa-icon> Laravel
          </span>
          <span class="badge bg-primary">
            <fa-icon [icon]="js"></fa-icon> Docker
          </span>
          <span class="badge bg-primary"> Apache </span>
        </div>
        <div class="skills-box">
          <span class="badge bg-primary">
            <fa-icon [icon]="js"></fa-icon> SQL
          </span>
          <span class="badge bg-primary">
            <fa-icon [icon]="js"></fa-icon> MySQL</span
          >
          <span class="badge bg-primary">
            <fa-icon [icon]="js"></fa-icon> PostgreSQL</span
          >
          <span class="badge bg-primary">
            <fa-icon [icon]="js"></fa-icon> Node js
          </span>
        </div>
        <div class="skills-box">
          <span class="badge bg-primary">
            <fa-icon [icon]="js"></fa-icon> Problem solving
          </span>
          <span class="badge bg-primary">
            <fa-icon [icon]="js"></fa-icon> Debugging
          </span>
        </div>
      </div>
    </div>

    <div class="soft">
      <h1>Soft skills</h1>
      <div class="skills-soft">
        <span class="badge bg-danger"> Communication</span>
        <span class="badge bg-danger"> Team player</span>
        <span class="badge bg-danger"> time management</span>
        <span class="badge bg-danger"> Work individual and with team</span>
      </div>
    </div>
  </div>
  <img
    class="brain"
    src="../../../../assets/images/projects/brain.png"
    alt="brain-image"
  />
</div>
