.container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  position: relative;
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
    height: fit-content;
  }
  .brain {
    display: none;
  }
}

.badge {
  margin-right: 10px;
  font-size: 14px;
}

.header {
  font-size: 52px;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  color: #c15c3f;
}

.front,
.back {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
span {
  margin: 5px 0;
}
.front h1,
.back h1 {
  color: #272a2d;
  font-family: "Teko", sans-serif;
  font-weight: bold;
}
.skills-container {
  display: flex;
  justify-content: space-between;
}

.skills-box {
  display: flex;
  flex-direction: column;
}
