<hr style="width: 100%; text-align: left; margin-left: 0" />
<div class="container">
  <h1 class="edu-header">Education</h1>
  <div class="education-box">
    <div class="info">
      <h2>Information Technology Inistitude ITI</h2>
      <p class="track">Full-Stack PHP || Laravel</p>
      <div class="tracks">
        full stack php and laravel track which learn a lot of technical skills
        and soft skills i do alot of projects in this time.
      </div>
    </div>
    <p class="date">October 2023</p>
  </div>
  <div class="education-box">
    <div class="info">
      <h2>Faculty of engineering soubra</h2>
      <p class="track">Mechanical engineer</p>
      <div class="tracks">
        full stack php and laravel track which learn a lot of technical skills
        and soft skills i do alot of projects in this time.
      </div>
    </div>
    <p class="date">2018 to 2023</p>
  </div>
</div>
