<div class="container-fluid">
  <div class="header">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="flex-rap">
    <div class="sideBar">
      <app-side></app-side>
    </div>
    <div class="info">
      <app-about id="about" class="c-class"></app-about>
      <app-education id="education" class="c-class"></app-education>
      <app-skills id="skills" class="c-class"></app-skills>
      <app-projects id="projects" class="c-class"></app-projects>
      <app-contact id="contact" class="c-class"></app-contact>
    </div>
  </div>
</div>
