* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sideBar {
  position: relative;
  left: -30px;
  width: 300px;
}

@media (max-width: 1300px) {
  .sideBar {
    display: none;
  }
}
@media (min-width: 1100px) {
  .header {
    display: none;
  }
}

.flex-rap {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 350px);
}

@media (max-width: 1100px) {
  .info {
    flex-grow: 1;
  }
}

.c-class {
  animation: appearance linear both;
  animation-timeline: view();
  animation-range: cover 20% cover 40%;
}
@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* mobile media */
