<hr style="width: 100%; text-align: left; margin-left: 0" class="mt-5" />
<div class="container-heading">
  <section class="mb-4">
    <div class="container">
      <div class="text">Get in touch</div>
      <form action="#">
        <div class="form-row">
          <div class="input-data">
            <input type="text" required />
            <div class="underline"></div>
            <label for="">Name</label>
          </div>
          <div class="input-data">
            <input type="text" required />
            <div class="underline"></div>
            <label for="">Email Address</label>
          </div>
        </div>
        <div class="form-row">
          <div class="input-data textarea">
            <textarea rows="8" cols="80" required></textarea>
            <br />
            <div class="underline"></div>
            <label for="">Write your message</label>
            <br />
          </div>
        </div>
        <input type="submit" value="submit" class="submit" />
      </form>
    </div>
  </section>
</div>
