<hr style="width: 100%; text-align: left; margin-left: 0" />
<div class="container flex-column align-items-center">
  <p class="header">projects</p>
  <div class="projects">
    <div class="row gap-5 justify-content-center">
      <div class="card nnth col-10 col-lg-4">
        <img
          class="card-img-top"
          src="../../../../assets/images/projects/Screen Shot 2023-11-06 at 1.38.20 PM.png"
          alt="Card image cap"
        />
        <a href="https://reactive-login.vercel.app/">
          <div class="card-img-overlay"></div>
        </a>
      </div>
      <div class="card nnth col-10 col-lg-4">
        <img
          class="card-img-top"
          src="../../../../assets/images/projects/portfolio.png"
          alt="Card image cap"
        />
        <a href="https://portofolio-demo-first.vercel.app/">
          <div class="card-img-overlay"></div>
        </a>
      </div>
      <div class="card nnth col-10 col-lg-4">
        <img
          class="card-img-top"
          src="../../../../assets/images/projects/mangement.png"
          alt="Card image cap"
        />
        <a href="https://schedule-app-en-ar.vercel.app/">
          <div class="card-img-overlay"></div>
        </a>
      </div>
      <div class="card nnth col-10 col-lg-4">
        <img
          class="card-img-top"
          src="../../../../assets/images/projects/E-commerce.png"
          alt="Card image cap"
        />
        <a href="https://e-commerce-flame-xi.vercel.app/projects">
          <div class="card-img-overlay"></div>
        </a>
      </div>
      <div class="card nnth col-10 col-lg-4">
        <img
          class="card-img-top"
          src="../../../../assets/images/projects/todo.png"
          alt="Card image cap"
        />
        <a href="https://to-do-angular-coral.vercel.app/">
          <div class="card-img-overlay"></div>
        </a>
      </div>
      <div class="card nnth col-10 col-lg-4">
        <img
          class="card-img-top"
          src="../../../../assets/images/projects/watch.png"
          alt="Card image cap"
        />
        <a href="https://watch-app-css.vercel.app/">
          <div class="card-img-overlay"></div>
        </a>
      </div>
    </div>
  </div>
</div>
