<div class="container">
  <div class="info">
    <h1 class="name">
      Bishoy <span class="colored">Saeed </span> <span>Nazeer</span>
    </h1>
    <h3>Cairo-Egypt . +20 128 138 0866 . bishoysaeed201@gmail.com</h3>
  </div>

  <p class="summary">
    A recent graduate from an Intensive code camp Full Stack PHP ( ITI ) with
    experience in Angular,<br />
    JavaScript Specialize in front-end Angular and Typescript resulting high
    efficiency,
  </p>
  <p></p>

  <div class="icon">
    <fa-icon [icon]="linkedIn"></fa-icon>
    <fa-icon [icon]="github"></fa-icon>
    <fa-icon [icon]="stackoverFlow"></fa-icon>
    <fa-icon [icon]="facebook"></fa-icon>
  </div>
</div>
